
.app-wrapper {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    align-items: center;
    justify-content: space-between;
}

.top-section, .content-section, .bottom-nav-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.top-section {
    h1 {
        font-size: 4em;
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.205);
    }

    h2 {
        font-size: 2em;
        color: white;
        text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.105);
    }
}

.content-section {
    flex-grow: 2;
}


// .bottom-nav-section { }