
<div class="tabs">
    <a routerLink="/bookmarks" class="tab"  routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="tab-tile">
            <mat-icon>bookmark_border</mat-icon>
        </div>
    </a>
    
    <a routerLink="/todos" class="tab"  routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="tab-tile">
            <mat-icon>check_circle_outline</mat-icon>
        </div>
    </a>
    
    <a routerLink="/notes" class="tab"  routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="tab-tile">
            <mat-icon>note</mat-icon>
        </div>
    </a>

</div>
